<div class="container">
    <div class="row">

        <!-- Left Spacing -->
       <div class="col-md-2">
        </div>
        <!-- End of Left Spacing -->

        <!-- Starting of login form -->
        <div class="col-md-8">
            <form (ngSubmit)="onSubmit()" #forgotPassword="ngForm"> 
              <div class="row">
                  <div class="col-md-6">
                      <h3 class="text-left">Forgot Password</h3>
                  </div>
                  <div class="col-md-6">
                      <span class="glyphicon glyphicon-exclamation-sign"></span>
                  </div>
                </div>

                  <hr>
                  <p style="color:white;font-size:15px;">{{ message }}</p>

                  <!-- Starting of login credentials -->
                  <div class="row">
                    <label class="label col-md-3 control-label">Username</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" ngModel name="email" required placeholder="E-mail">
                        <!-- <p>{{ loginname }}</p> -->
                    </div>
                  </div>

                  <div class="row">
                    <label class="label col-md-3 control-label">New Password</label>
                    <div class="col-md-9">
                      <div class="col-xs-10">
                        <input [type]="hide1 ? 'password' : 'text'" name="newpassword" 
                        [(ngModel)]="pwd" required class="form-control" placeholder="Password">
                      </div>
                      <div class="col-xs-2">
                        <span style="cursor: pointer;" class="material-icons" matSuffix (click) = "hide1 = !hide1">
                          {{hide ? 'visibility' : 'visibility_off'}}</span>  
                        </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="label col-md-3 control-label">New Re-Password</label>
                    <div class="col-md-9">
                      <div class="col-xs-10">
                        <input [type]="hide ? 'password' : 'text'" (keyup)="onKeyUp($event)"
                         name="newrepassword" ngModel required class="form-control" placeholder="Password">
                      </div>
                      <div class="col-xs-2">
                        <span style="cursor: pointer;" class="material-icons" matSuffix (click) = "hide = !hide">
                          {{hide ? 'visibility' : 'visibility_off'}}</span>  
                        </div>
                    </div>
                    <p [ngStyle]="{color:c==true ? 'white':'white'}">{{text}}</p>
                  </div>

                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <button class="btn btn-info" type="submit" [disabled]=!forgotPassword.valid>Submit</button>
                    <div class="btn btn-danger" (click)="onBack()">Back</div>
                  </div>
                  <!-- Ending of login credentials -->

                </form>
              </div>
              <!-- Ending of login form -->

              <!-- Right Spacing -->
              <div class="col-md-2">
              </div>
              <!-- End of right spacing -->

          </div>
  </div>
  