
<div class="row">
    <div id="upcoming" class="col-sm-4">
        <p>Left col works</p>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <h3>Welcome to ToDo!</h3>
        </div>
        <div class="row">
            <p>This will allow you to manage your schedules and easy reminder about upcoming events.<br>
                <br>
                Please select the category from below to place a reminder.</p>
        </div>
        <br>
        <br>
        <div class="row">
                <div class="col-xs-4 text-center">
                    <button class="btn btn-lg btn-warning btn-block">Household</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-lg btn-warning btn-block">Official</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-lg btn-warning btn-block">Meeting</button>
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-xs-4 text-center">
                    <button class="btn btn-lg btn-warning btn-block">Exercise</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-lg btn-warning btn-block">Study</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button class="btn btn-lg btn-warning btn-block">Others</button>
                </div>
            </div>
        </div>
    </div>