<div class="container">
    <div class="row">

      <!-- Left side spacing -->
       <div class="col-md-7">
          <h1 class="text-left">EasyTodo Registration</h1>
          <p class="text-left">Now remembrance is easy with EasyTodo! Just a couple of clicks to prepare your list
              and get to work. Register Now.
          </p>
        </div>
        <!-- End of left spacing -->

        <!-- Start of registration form -->
        <div class="col-md-5">
            <form (ngSubmit)="onSubmit()" #register="ngForm">

              <div class="row">
                  <div class="col-md-6">
                      <h3 class="text-left">Registration Form</h3>
                  </div>
                  <div class="col-md-6">
                      <span class="glyphicon glyphicon-pencil"></span>
                  </div>
                </div>

                  <hr>

                  <!-- Start of registration credentials -->
                  <div class="row">
                    <label class="label col-md-3 control-label">E-Mail</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control"
                        ngModel name="email" placeholder="E-mail">
                    </div>
                  </div>

                  <div class="row">
                    <label class="label col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="text" name="password" class="form-control"
                        ngModel placeholder="Password" required>
                        <input type="checkbox"><small> Remember Me</small>
                    </div>
                  </div>

                  <div class="row">
                    <label class="label col-md-3 control-label"> Re-Password</label>
                    <div class="col-md-9">
                        <input type="text" name="rpassword" class="form-control"
                        ngModel placeholder="Confirm Password" required>
                    </div>
                  </div>
                

                  <div class="row">
                    <label class="label col-md-3 control-label">Gender</label>
                    <div class="col-md-9">
                        <input type="radio" name="gender" ngModel value="male"><small> Male</small>
                        <input type="radio" name="gender" ngModel value="female"><small> Female</small>
                    </div>
                  </div>

                  <!-- <div class="row">
                    <label class="label col-md-3 control-label">Gender</label>
                    <div class="col-md-9" *ngFor="let gender of genders">
                      <input type="radio" name="gender" ngModel [value]="gender"><small> {{ gender }}</small>
                  </div>
                </div> -->

                  <div class="row">
                    <label class="label col-md-3 control-label">Country</label>
                    <div class="col-md-9">
                        <select  class="form-control" name="country" ngModel>
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                            <option>E</option>
                        </select>
                    </div>
                  </div>
                  <!-- End of registration credentials -->
                  
                  <button class="btn btn-info" type="submit" [disabled]="!register.valid">Submit</button>
                  <button class="btn btn-danger" type="submit">Cancel</button>
                </form>
              </div>
              <!-- End of registration form -->

          </div>
  </div>
  