<div class="container">
    <div class="row">
       <div class="col-md-7">
          <h1 class="text-left">EasyTodo Registration</h1>
          <p class="text-left">Now remembrance is easy with EasyTodo! Just a couple of clicks to prepare your list
              and get to work. Register Now.
          </p>
        </div>
        <div class="col-md-5">
              <div class="row">
                  <div class="col-md-6">
                      <h3 class="text-left">Registration Form</h3>
                  </div>
                  <div class="col-md-6">
                      <span class="glyphicon glyphicon-pencil"></span>
                  </div>
                </div>
                  <hr>
                  <div class="row">
                    <label class="label col-md-3 control-label">E-Mail</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" name="email" placeholder="E-mail">
                    </div>
                  </div>

                  <div class="row">
                    <label class="label col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="text" name="password" class="form-control" placeholder="Password" required>
                        <input type="checkbox"><small> Remember Me</small>
                    </div>
                  </div>

                  <div class="row">
                    <label class="label col-md-3 control-label"> Re-Password</label>
                    <div class="col-md-9">
                        <input type="text" name="password" class="form-control" placeholder="Confirm Password" required>
                    </div>
                  </div>

                  <div class="row">
                    <label class="label col-md-3 control-label">Gender</label>
                    <div class="col-md-9">
                        <input type="radio" name="gender" value="male"><small> Male</small>
                        <input type="radio" name="gender" value="female"><small> Female</small>
                    </div>
                  </div>

                  <div class="row">
                    <label class="label col-md-3 control-label">Country</label>
                    <div class="col-md-9">
                        <select  class="form-control">
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                            <option>E</option>
                        </select>
                    </div>
                  </div>
                  <div class="btn btn-info" type="submit">Submit</div>
                  <div class="btn btn-danger" type="submit">Cancel</div>
              </div>
          </div>
  </div>
  