<div class="container">
    <div class="row">

      <!-- Left side spacing -->
       <div class="col-md-7">
          <h1 class="text-left">EasyTodo Registration</h1>
          <p class="text-left">Now remembrance is easy with EasyTodo! Just a couple of clicks to prepare your list
              and get to work. Register Now.
          </p>
        </div>
        <!-- End of left spacing -->

        <!-- Start of registration form -->
        <div class="col-md-5">
            <form (ngSubmit)="onSubmit()" #register="ngForm">

              <div class="row">
                  <div class="col-md-6">
                      <h3 class="text-left">Registration Form</h3>
                  </div>
                  <div class="col-md-6">
                      <span class="glyphicon glyphicon-pencil"></span>
                  </div>
                </div>

                  <hr>

                  <!-- Start of registration credentials -->
                  <div class="row">
                      <label class="label col-md-3 control-label">E-Mail</label>
                      <div class="col-md-9">
                          <input type="email" class="form-control" email
                          ngModel name="email" required placeholder="example@mail.com" required>
                      </div>
                    </div>

                  <div class="row">
                    <label class="label col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" [type]="hide ? 'password' : 'text' " name="password" class="form-control"
                        ngModel placeholder="Password" [(ngModel)]="pwd" required>
                        <i class="material-icons" matSuffix (click) = "hide = !hide">
                          {{hide ? 'visibility' : 'visibility_off'}}
                        </i>      
                     </div>
                        <!--<input type="checkbox" (click)="showPassword()"><small> Show Password</small> -->
                    </div>
            

                  <div class="row">
                    <label class="label col-md-3 control-label"> Re-Password</label>
                    <div class="col-md-9">
                        <input type="password" [type]="hide ? 'password' : 'text' " name="rpassword" (keyup)="onKeyUp($event)" class="form-control"
                        ngModel placeholder="Confirm Password" required>
        
                        <p [ngStyle]="{color:i==true ? 'green':'red'}">{{text}}</p>
                        
                    </div>
                  </div>
                

                  <div class="row">
                    <label class="label col-md-3 control-label">Gender</label>
                    <div class="col-md-9">
                        <input type="radio" required name="gender" ngModel value="male"><small>Male</small>
                        <input type="radio" required name="gender" ngModel value="female"><small>Female</small>
                        <input type="radio" required name="gender" ngModel value="other"><small>Other</small>
                    </div>
                  </div>

                  <!-- <div class="row">
                    <label class="label col-md-3 control-label">Gender</label>
                    <div class="col-md-9" *ngFor="let gender of genders">
                      <input type="radio" name="gender" ngModel [value]="gender"><small> {{ gender }}</small>
                  </div>
                </div> -->

                  <div class="row">
                    <label class="label col-md-3 control-label">Country</label>
                    <div class="col-md-9">
                        <select  class="form-control" name="country" ngModel required>
                            <option>Australia</option>
                            <option>Britain</option>
                            <option>Canada</option>
                            <option>India</option>
                            <option>US</option>
                        </select>
                    </div>
                  </div>
                  <!-- End of registration credentials -->
                  
                  <button class="btn btn-info" type="submit" [disabled]="!register.valid">Submit</button>
                  <div class="btn btn-danger" (click)="clearForm()">Cancel</div>
                </form>
              </div>
              <!-- End of registration form -->

          </div>
  </div>
  